body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: ubuntu;
  height: 100vh;
}

/*same styles*/

#d-none {
  display: none;
}
h3 {
  color: hsl(213, 96%, 18%);
  font-size: 35px;
  padding: 0;
  margin: 0 0 20px 0;
}
p {
  color: hsl(231, 11%, 63%);
  width: 80%;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

label {
  color: hsl(213, 96%, 18%);
}
.top {
  width: 100vw;
  height: 20vh;
  padding: 30px 0 0 0;
  margin: 0;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  display: flex;
  justify-content: center;
  width: 100vw;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

ul li {
  width: 10%;
  text-align: center;
  margin: 10px;
  padding: 0;
}

.circle {
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
  color: white;
}

.active {
  background-color: hsl(206, 94%, 87%);
  color: black;
}
div.info {
  position: relative;
  bottom: 100px;
  border-radius: 10px;
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  background-color: white;
}

div.steps {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(217, 100%, 97%);
}

button {
  height: 60px;
  padding: 20px 35px;
  margin: 30px 10px 10px 0;
  color: white;
  font-size: 18px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.steps {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  width: 95vw;
  height: 100%;
  padding: 10px 0;
  flex-direction: row-reverse;
}

.btns {
  background-color: white;
  margin: 100px 0 0 0;
  width: 100vw;

  padding: 0;
  height: 13%;
}

/*Step 1*/
div.steps.step-1 {
  height: 80vh;
}
.step-1 label {
  display: block;
  margin: 5px 0 5px 0;
  font-size: 20px;
}

.step-1 input {
  width: 90%;
  height: 50px;
}

.info div {
  width: 85%;
  margin: 15px auto 0 auto;
}
.step-1 input[type="tel"] {
  margin-bottom: 40px;
}

/* step 2*/

.plan-label span.price {
  color: hsl(231, 11%, 63%);
  display: block;
  font-size: 14px;
}

.plan {
  cursor: pointer;
}

.step-2 input[type="radio"] {
  display: none;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: space-between;
  
}

.btn-2{
  margin-left: 20px;
  background-color: white;
  color: hsl(231, 11%, 63%);
}

.step-2 input[type="radio"] + .plan-label {
  display: inline-block;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  color: hsl(213, 96%, 18%);
  width: 100%;
  height: 90px;
}
.padding {
  margin-bottom: 80px;
}

.price {
  padding: 4px 0 6px 0;
}

input[type="radio"]:checked + .plan-label {
  background: #eee;
  color: #000;
  border: 1px solid hsl(213, 96%, 18%);
}

.step-2 img {
  float: left;
  padding-top: 20px;
  margin: 0 15px 0 15px;
}
.free {
  margin-bottom: 5px;
}
.switch {
  width: 100%;
  margin: 0 auto;
}
.toggle {
  cursor: pointer;
  display: inline-block;
  width: 90%;
  height: 25px;
  border-radius: 10px;
  background-color: hsl(217, 100%, 97%);
  padding: 10px 0 10px 0;
  margin: 0 auto 10px auto;
  text-align: center;
}

.toggle-switch {
  display: inline-block;
  background: hsl(213, 96%, 18%);
  border-radius: 16px;
  width: 48px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.d-none {
  display: none;
}

/*step 3*/

.step-3 input[type="checkbox"] {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  cursor: pointer;
}

.step-3 .checkbox {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  cursor: pointer;
  
  margin-bottom: 20px;
}

.title{
  color:hsl(213, 96%, 18%);
  font-weight: bold;
}

.description{
  color:hsl(231, 11%, 63%);
}

.price-2{
  color: hsl(243, 100%, 62%);
}

.addons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width:100%;

}


.item-1 span{
  display: block;
}
.item-2{
  display: flex;
  justify-content: end;
}
.margin{
  margin-bottom: 30px;
}

.step-3 .plan-label {
  padding: 20px 0;
  display: inline-block;
  color: hsl(213, 96%, 18%);
  width: 70vw;
  margin-left: 50px;
  height: 75px;
}

input[type="checkbox"]:checked + .plan-label {
  background: #eee;
  color: #000;
  border: 1px solid hsl(213, 96%, 18%);
}
