body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: ubuntu;
}

/*same styles*/

#d-none{
    display: none ;
}
h3 {
  color: hsl(213, 96%, 18%);
  font-size: 26px;
  padding-top: 18px;
}
p {
  color: hsl(231, 11%, 63%);
  width: 80%;
  font-size: 16.5px;
  line-height: 1.5;
}

label {
  color: hsl(213, 96%, 18%);
}
.top {
  width: 100vw;
  height: 20vh;
  padding: 30px 0 0 0;
  margin: 0;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
}

ul {
  display: flex;
  justify-content: center;
  width: 100vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  width: 20%;
  text-align: center;
  margin: 0;
  padding: 0;
}


.circle {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  color: white;
}



.active{
    background-color: hsl(206, 94%, 87%);
    color: black;
}
div.info {
  
  position: relative;
  bottom: 50px;
  border-radius: 10px;
  width: 90vw;
  margin: 0 auto;
  height: auto;
  background-color: white;
}

div.steps{
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(217, 100%, 97%);
  border: 1px solid red;
 
}

.buttons {
  display: flex;
  margin: 20px 20px 0 0;
  height: 5vh;
  padding: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}
button {
  height: 40px;
  padding: 10px 18px;
  margin: 0 10px 0 5px;
  color: white;
  background-color: hsl(213, 96%, 18%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.steps {
  display: flex;
  flex-direction: column;
}

.btns {
  background-color: white;
  margin: 80px 0 0 0;
  width: 100vw;
  padding: 0;
}
/*Step 1*/

.step-1 label {
  display: block;
  margin: 20px 0 5px 0;
}

.step-1 input {
  width: 90%;
  height: 30px;
  
}

.info div {
  width: 85%;
  margin: 15px auto 0 auto;
}
.step-1 input[type=tel]{
  margin-bottom: 40px;
}

/* step 2*/

.plan-label span {
  color:hsl(231, 11%, 63%);
  display: block;
  font-size: 14px;
}


.plan{
  
  cursor: pointer;
}

.step-2 input[type=radio] {
  display:none;
  cursor: pointer;
}


.step-2 input[type=radio] + .plan-label {
  display: inline-block;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  color: hsl(213, 96%, 18%);
  width: 100%;
  height: 75px;
}

.step-2 .plan-label{
  padding-top: 32px;
}

input[type=radio]:checked + .plan-label {
  background: #eee;
  color: #000;
  border: 1px solid hsl(213, 96%, 18%);
}

.step-2 img {
  float: left;
  margin: 0 15px 0 15px;
}


.switch{
  width: 100%;
  margin: 0 auto;

}
.toggle {
  cursor: pointer;
  display: inline-block;
  width: 90%;
  height: 25px;
  border-radius: 10px;
  background-color: hsl(217, 100%, 97%);
  padding: 10px 0 10px 0;
  margin: 0 auto 10px auto;
  text-align: center;
}

.toggle-switch {
  display: inline-block;
  background: hsl(213, 96%, 18%);
  border-radius: 16px;
  width: 48px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
 
.d-none {
  display: none;
}

/*step 3*/

.step-3 input[type=checkbox] {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  cursor: pointer;
}

.step-3 .checkbox {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  cursor: pointer;
}

.step-3 .plan-label{
  padding-top: 32px;
  display: inline-block;
 
  color: hsl(213, 96%, 18%);
  width: 95%;
  height: 75px;
}

input[type=checkbox]:checked + .plan-label {
  background: #eee;
  color: #000;
  border: 1px solid hsl(213, 96%, 18%);
}
